<div class="main">
  <header class="bg-img header">
    <nav class="navbar navbar-default navbar-vira">
        <div class="container">
            <!-- <div class="navigation-bar">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="logo">
                            <a href="index.html"><span class="fa fa-viacoin"></span></a>
                        </div>
                    </div>
                    <div class="col-xs-6 text-right">
                        <div class="menu m">
                            <a href="#"><span class="ion-navicon _ion-android-menu"></span></a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </nav>
    <div class="container">
      <div class="row">
          <div class="intro-box">
              <div class="intro">
                  <h1>Delivery your resume only once</h1>
                  <p>Then we can offer you big offer<br />
                  Cuz that's only what we do for 10 years.</p>
                  <a class="btn vira-btn" href="/jobs">Click this to explore </a>
              </div>
          </div>
      </div>
    </div>
  </header>




  <!-- <section class="vira-quote section bg-img">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <img class="quote">
             <p>
                 <q></q>
             </p>
             <p class="author">Martin leBlance, Iconfinder</p>

          </div>
      </div>
  </div>
  </section> -->
  <section id="workstation" class="work section">
  <div class="container">
      <h2 class="title">How to receive 5 high quality job interview <br />efficiently in 4 hours?</h2>
      <div id="workstation-slider" class="owl-carousel">
          <div class="row">
            <div class="item col-md-12 ">
                <div class="vira-card">

                    <div class="pic-list col-sm-6">
                        <h3>1.Wait after application</h3>
                        <p>
                            After registration to submit an application, we will finish the review within 1 working day.<br />
                            Then you will participate in the latest issue of the auction.
                        </p>
                    </div>
                    <div class="vira-card-header col-sm-6">
                        <img class="img-responsive img-circle" src="https://ww2.sinaimg.cn/large/006tNbRwgw1fbr354poqrj31dp0zk461.jpg">
                    </div>
                </div>
            </div>
            <div class="item col-md-12 ">
                <div class="vira-card">
                    <div class="vira-card-header col-sm-6">
                        <img class="img-responsive img-circle" src="https://ww4.sinaimg.cn/large/006tNbRwgw1fbr35j0xbhj31fa10mnb2.jpg">
                    </div>
                    <div class="pic-list col-sm-6">
                        <h3>2.Start the auction</h3>
                        <p>
                            The auction begin on time every Monday at 10, <br />your resume will be open to all enterprises for 7 days after dealing with the privacy protection.
                        </p>
                    </div>
                </div>
            </div>

            <div class="item col-md-12 ">
                <div class="vira-card">

                    <div class="pic-list col-sm-6">
                        <h3>3.Received the invitation</h3>
                        <p>
                            For your favorite company will directly to your invitation, you will be informed by mail received multiple company invitation.
                        </p>
                    </div>
                    <div class=" col-sm-6">
                        <img class="img-responsive img-circle" src="https://ww4.sinaimg.cn/large/006tNbRwgw1fbr35uwrckj318s0vzgsc.jpg">
                    </div>
                </div>
            </div>
            <div class="item col-md-12 ">
                <div class="vira-card">
                    <div class="vira-card-header col-sm-6">
                        <img class="img-responsive img-circle" src="https://ww2.sinaimg.cn/large/006tNbRwgw1fbr365hb5pj30de09kt9h.jpg">
                    </div>
                    <div class="pic-list col-sm-6">
                        <h3>4.Appointment and communication</h3>
                        <p>
                            Choose your favorite company to accept the invitation, then a interview about detailed communication, <br />of course, you shall have the right to refuse any invitation.
                    </div>
                </div>
            </div>
          </div>

      </div>
  </div>
  </section>
  <!-- <section class="watch bg-img">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <span>Watch showreel</span>
              <a class="popup-youtube btn" href="https://www.youtube.com/watch?v=4KRHIbsl8BE"><span class="fa fa-play"></span></a>
              <span>with us</span>
          </div>
      </div>
  </div>
  </section> -->
  <!-- <section id="team" class="team section">
  <div class="container">
      <h2 class="title">Our team members</h2>
      <div class="row">
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <img class="img-responsive" src="assets/images/8.jpg">
                  </div>
                  <div class="vira-card-content">
                      <h3>Pink Floyd</h3>
                      <p>
                         Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
                      </p>
                      <div class="social-icons">
                          <ul>
                              <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                              <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <img class="img-responsive" src="assets/images/9.jpg">
                  </div>
                  <div class="vira-card-content">
                      <h3>Eric Clapton</h3>
                      <p>
                          Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
                      </p>
                      <div class="social-icons">
                          <ul>
                              <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                              <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <img class="img-responsive" src="assets/images/10.jpg">
                  </div>
                  <div class="vira-card-content">
                      <h3>Elton Jhon</h3>
                      <p>
                          Complimenten, bewonderend gefluit en lonkende blikken zijn enkele risico’s die The Garment Club
                      </p>
                      <div class="social-icons">
                          <ul>
                              <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                              <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </section> -->
  <!-- <section class="subscribe section bg-img">
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <p>Subscribe to us to get the latest job info</p>
              <form class="form-inline">
                  <div class="form-group">
                      <input type="email" class="form-control" id="user-email" placeholder="Write your email here....">
                  </div>
                  <button type="submit" class="btn vira-btn">Send me</button>
              </form>
          </div>
      </div>
  </div>
  </section> -->
  <section id="about" class="about section">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
              <h2 class="title">What we do?</h2>
              <p>
                  Only one thing!Only one thing!Only one thing!<br />
                  Yeah, that's only what we do for 10 years.<br />We wanna do one thing that can offer you 20k-salary job which is offered by high-tech companies.<br />
                  We offer professional consultation service to help you get that offer.
              </p>

          </div>
      </div>
  </div>
  </section>
  <section id="contact" class="contact section">
  <div class="container">
      <h2 class="title">Drop us a line</h2>
      <div class="row">
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <span class="fa fa-map-o" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Address</h3>
                      <p>
                          High Tech Campus, nanshan, China shenzhen
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                      <span class="fa fa-phone" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Phone</h3>
                      <p>
                          +0755 6238237
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-4">
              <div class="vira-card">
                  <div class="vira-card-header">
                          <span class="fa fa-paper-plane" aria-hidden="true"></span>
                  </div>
                  <div class="vira-card-content">
                      <h3>Email</h3>
                      <p>
                          info@bigoffer.com
                      </p>
                  </div>
              </div>
          </div>
          <div class="col-sm-12">
              <div class="social-icons">
                  <ul>
                      <a href="#"><li><span class="ion-social-facebook"></span></li></a>
                      <a href="#"><li><span class="ion-social-twitter"></span></li></a>
                      <a href="#"><li><span class="ion-social-pinterest"></span></li></a>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  </section>

  </div>

</div>
