  <div class="jumbotron col-md-12">
   <h1>
     只需一次投递
     <br />
     其他的工作交给我们
     <br />
     争分夺秒
   </h1>
   <p>
     Big Offer 是一家提供20K起薪互联网工作机会的求职网站
   </p>
   <p>
     我们提供专业的咨询服务,让您一路过关斩将拿到Big Offer
   </p>
   <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">戳此马上行动</a></p>
 </div>

  <hr />

 <!-- <div id="myCarousel" class="carousel slide">
   <ol class="carousel-indicators">
     <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
     <li data-target="#myCarousel" data-slide-to="1"></li>
     <li data-target="#myCarousel" data-slide-to="2"></li>

   </ol>
    <div class="carousel-inner col-md-12">
       <div class="item active">
        <a href="#">
         <img src="https://ww1.sinaimg.cn/large/006tNbRwgw1fbs8yp2ngtj31kw11xqke.jpg" alt="First slide">
         <div class="carousel-caption"></div>
        </a>
       </div>
       <div class="item">
        <a href="#">
         <img src="https://ww2.sinaimg.cn/large/006tNbRwgw1fbs90jq5umj31kw0w04fv.jpg" alt="Second slide">
         <div class="carousel-caption"></div>
        </a>
       </div>
       <div class="item">
         <a href="#">
           <img src="https://ww1.sinaimg.cn/large/006tNbRwgw1fbs91mb9jij31kw11x4qp.jpg" alt="Third slide">
           <div class="carousel-caption"></div>
         </a>
       </div>
    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div> -->



 <!-- <section id="company">
  <h2 class="text-center">联系我们：</h2>
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>深圳市南山区高新科技园</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>info@bigoffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>0755-6238237</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<div class="row">
  <div class="col-sm-9 col-lg-8 col-lg-offset-2">
    <%= form_tag "#" , :method => :get, :class => "jobs-search-form" do %>
      <div class="input-group">
        <input type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="搜索工作关键字...">

        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3 col-lg-2">
    <%= link_to '戳此发布新职位' , "#" , :remote => true, :class => "btn btn-primary btn-success" %>
  </div>
</div>

  <!-- <div class="container-fluid">
    <div class="row search">
      <div class="col-sm-1 col-lg-1"></div>
      <div class="col-sm-8 col-lg-6 col-lg-offset-2" text-align="center">
        <form accept-charset="UTF-8" action="#search" class="jobs-search-form" method="get"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
          <div class="input-group">
            <input type="text" class="form-control" name="q" value="" placeholder="请在此搜索关键字...">

            <span class="input-group-btn">
              <button type="submit" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>

      </div>
    </div>
    <div class="col-sm-2 col-lg-1">
      <%= link_to("戳此发布新职位", new_job_path, :class => "btn btn-primary btn-success") %>
    </div>
  </div> -->

  <hr />

  <div class="bs-example bs-example-tabs">
    <ul id="myTab" class="nav nav-tabs" role="tablist">
      <li class="/">
        <a data-toggle="tab" href="#category-0">程序设计</a>
      </li>
      <li class="active">
        <a data-toggle="tab" href="#category-1">文案设计</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-3">视觉设计</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-4">产品运营</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-5">市场行销</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-7">产品经理</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-7">网站编辑</a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#category-7">其他</a>
      </li>
    </ul>
  </div>
</div>
<hr />


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
   <div class="carousel-inner col-md-12">
      <div class="item active">
       <a href="#">
        <img src="https://ww1.sinaimg.cn/large/006tNbRwgw1fbs8yp2ngtj31kw11xqke.jpg" alt="First slide">
        <div class="carousel-caption"></div>
       </a>
      </div>
      <div class="item">
       <a href="#">
        <img src="https://ww2.sinaimg.cn/large/006tNbRwgw1fbs90jq5umj31kw0w04fv.jpg" alt="Second slide">
        <div class="carousel-caption"></div>
       </a>
      </div>
      <div class="item">
        <a href="#">
          <img src="https://ww1.sinaimg.cn/large/006tNbRwgw1fbs91mb9jij31kw11x4qp.jpg" alt="Third slide">
          <div class="carousel-caption"></div>
        </a>
      </div>
   </div>

   <div class="container-fluid">
     <a class="carousel-control left" href="#myCarousel" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
     </a>
     <a class="carousel-control right" href="#myCarousel" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
     </a>
   </div>
</div>


<section class="phases row">
  <div class = "container-fluid">
  <div class="text-center">
     <h2>如何在4小时内高效的收到5个高质量的面试机会？</h2>
     <hr />
     <div class="row">
       <div class="col-sm-6 ">
         <div class="thumbnail">
           <img src="https://ww2.sinaimg.cn/large/006tNbRwgw1fbr354poqrj31dp0zk461.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
         </div>
         <div class="text-center">
           <h3>1.申请之后等待审核</h3>
           <p>注册后提交申请，我们会在1个工作日内完成审核
             <br />
             您将参加最新一期拍卖。</p>
          </div>
        </div>

        <div class="col-sm-6 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgw1fbr35j0xbhj31fa10mnb2.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
           </div>
           <div class="text-center">
             <h3>2.开始拍卖</h3>
             <p>每周一上午 10 点拍卖准时开始，您的简历经过隐私保护处理后
               <br />
               向 Bigoffer 所有企业开放 7 天时间。</p>
           </div>
        </div>
      </div>
      <div class="row">
         <div class="col-sm-6 ">
           <div class="thumbnail">
             <img src="https://ww4.sinaimg.cn/large/006tNbRwgw1fbr35uwrckj318s0vzgsc.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
           </div>
           <div class="text-center">
             <h3>3.收到邀请</h3>
             <p>对您中意的公司会直接向您发出邀请，您将以邮件的形式
               <br />
               收到多个公司的面试邀请。</p>
           </div>
         </div>
         <div class="col-sm-6 ">
           <div class="thumbnail">
             <img src="https://ww2.sinaimg.cn/large/006tNbRwgw1fbr365hb5pj30de09kt9h.jpg" class="img-rounded" alt="Cinque Terre" width="304" height="236">
           </div>
           <div class="text-center">
             <h3>4.约见交流</h3>
             <p>选择您最心仪的公司接受邀请，随后详细沟通面试时间
               <br />
               当然，您有权拒绝任何不感兴趣的邀请。</p>
           </div>
         </div>
      </div>
    </div>
  </div>
</section>
<hr />
