<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
              <p class="text-center">Copyright ©2017 Rails101
                <br />Designed by
                <a href="https://github.com/yammmy/job-listing" target=_new>yammy</a>
              </p>
            </div>
        </div>
    </div>
</footer>
